<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for ="role">Chose role</label>
        <select th:name="role" id="role">
            <option th:each="role : ${allRoles}" th:value="${role.getRole()}" th:text="${role.getRole()}"></option>
        </select>
        <br/>
    <br/>
    <input type="submit" value="create"/>

</form>


<a href="logout">Logout</a>


</body>
</html>